useDynLib(jumps, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "sd", "var", "qnorm", "logLik", "AIC", "BIC", "time")
importFrom("nloptr", "nloptr")
importFrom("graphics", "abline", "lines")
export("llt")
export("trigseas")
export("dummyseas")
export("mse")
export("hpfj")
export("auto_hpfj")
export("hpfj_fix")
export("auto_hpfj_fix")
export("hpfjx")
export("auto_hpfjx")
export("hpj")
S3method(plot,hpj)
export("plot.hpj")
S3method(print,hpj)
export("print.hpj")