useDynLib(jumps, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "sd", "var")
importFrom("nloptr", "nloptr")
export("llt")
export("trigseas")
export("dummyseas")
export("mse")
export("hpfj")
export("auto_hpfj")
export("hpfjx")
export("auto_hpfjx")